@each $color, $hsl in $colors {
  .#{$prefix}-#{$color} {
    color: #{$hsl} !important;
  }
}

@each $color, $hsl in $colors {
  .#{$prefix}-bg-#{$color} {
    background-color: #{$hsl} !important;
  }
}

@each $color, $hsl in $colors {
  .#{$prefix}-bd-#{$color} {
    border-color: #{$hsl} !important;
  }
}
