@each $color, $hsl in $colors {
  .#{$prefix}-#{$color} {
    color: #{$hsl} !important;
  }
}

@each $color, $hsl in $colors {
  .#{$prefix}-bg-#{$color} {
    background-color: #{$hsl} !important;
  }
}

@each $color, $hsl in $colors {
  .#{$prefix}-bd-#{$color} {
    border-color: #{$hsl} !important;
  }
}

@for $index from 0 through 24 {
  .#{$prefix}-dp-#{$index} {
    @if ($index == 0) {
      box-shadow: none;
    } @else {
      box-shadow: depth-shadow($index);
    }
  }
}

.#{$prefix}-full-width {
  width: 100% !important;
}

.#{$prefix}-helper {
  display: flex;
  margin: .3rem 0;
}

.#{$prefix}-separator {
  border-style: none;
  border-top: 1px solid map-get($colors, 'default');
  margin: 0;
}

@each $align in $alignments {
  .#{$prefix}-text-#{$align} {
    text-align: $align;
  }
}

.#{$prefix}-no-margin {
  margin: 0 !important;
}

.#{$prefix}-no-padding {
  padding: 0 !important;
}

.#{$prefix}-invisible {
  display: none !important;
}

.#{$prefix}-pull-left {
  float: left !important;
}

.#{$prefix}-pull-right {
  float: right !important;
}
