@each $color, $hsl in $colors {
  .#{$prefix}-#{$color} {
    color: #{$hsl} !important;
  }
}

@each $color, $hsl in $colors {
  .#{$prefix}-bg-#{$color} {
    background-color: #{$hsl} !important;
  }
}

@each $color, $hsl in $colors {
  .#{$prefix}-bd-#{$color} {
    border-color: #{$hsl} !important;
  }
}

@for $index from 0 through 24 {
  .#{$prefix}-dp-#{$index} {
    @if ($index == 0) {
      box-shadow: none;
    } @else {
      box-shadow: depth-shadow($index);
    }
  }
}
