@function scale($domain, $range) {
  $c-values: ();
  $domain-value: abs(nth($domain, 2) - nth($domain, 1));
  $range-unit: (nth($range, 2) - nth($range, 1)) / $domain-value;
  @for $index from 1 through $domain-value {
    $c-values: append($c-values, $range-unit * $index);
  }
  @return $c-values;
}

@function depth-shadow($depth) {
  $offset: nth(scale(0 24, 0 16), $depth) * 1px;
  $blur: nth(scale(0 24, 0 24), $depth) * 1.2px;
  $opacity: .28 - nth(scale(0 24, .08 .28), $depth);
  @return 0 $offset $blur rgba(0, 0, 0, $opacity);
}
