.gd-container {
  width: 100%;
  padding: 0 16px;
  overflow: auto;
  box-sizing: border-box;
}

.gd-row {
  display: flex;
  flex-wrap: wrap;
}

@for $index from 1 through 12 {
  .gd-col-#{$index} {
    width: percentage($index / 12); 
    box-sizing: border-box; 
  }
}

@include breakpoint('phone') {
  @for $index from 1 through 12 {
    .gd-col-#{$index} {
      @if $index <= 2 {
        width: percentage($index / 4) 
      } @else {
        width: 100%; 
      }
    }
  }
}

@include breakpoint('tablet') {
  @for $index from 1 through 12 {
    .gd-col-#{$index} {
      @if $index <= 4 {
        width: percentage($index / 8) 
      } @else {
        width: 100%; 
      }
    }
  }
}

