$prefix: 'gd';

$colors: (
  'black': hsl(0, 0%, 0%),
  'white': hsl(0, 0%, 100%),
  'blue':  hsl(228, 85%, 33%),
  'red':   hsl(7, 84%, 56%),
  'yellow': hsl(51, 99%, 60%)
);

$device_breakpoints: (
  'desktop': (max: null, min: '1080px'),
  'tablet': (max: '839px', min: '480px'),
  'phone': (max: '479px', min: null)
)
