$prefix: 'gd';

$colors: (
  'default': hsl(0, 0%, 94%),
  'black': hsl(0, 0%, 0%),
  'white': hsl(0, 0%, 100%),
  'blue':  hsl(228, 85%, 33%),
  'red':   hsl(7, 84%, 56%),
  'yellow': hsl(51, 99%, 60%),
  'green': hsl(120, 48%, 25%)
);

$device-breakpoints: (
  'desktop': (max: null, min: '67.5rem'),
  'tablet': (max: '67.4rem', min: '30rem'),
  'phone': (max: '29.9rem', min: null)
);

$alignments: left, center, right;

$directions: bottom, left, top, right;
