.#{$prefix}-card {
  display: flex;
  flex-direction: column;
}

.#{$prefix}-card-img {
  height: 100%;
  width: 100%;
}

.#{$prefix}-card-content {
  padding: 1rem;
}

.#{$prefix}-card-header {
  margin: 0;
  padding: 1rem;
}

.#{$prefix}-card-title {
  margin-top: 0;
}
