.#{$prefix}-dropdown {
  display: flex;
  position: relative;

  > .#{$prefix}-dropdown-hacker {
    display: none;

    &:checked ~ .#{$prefix}-dropdown-content {
      display: flex;
    }
  }

  > label {
    border: 1px solid map-get($colors, 'default');
    cursor: pointer;
    padding: 1rem;
  }
}

.#{$prefix}-dropdown-content {
  background-color: map-get($colors, 'white');
  border: 1px solid map-get($colors, 'default');
  display: none;
  margin-top: .25rem;
  position: absolute;
  top: 100%;
}
