.#{$prefix}-navbar {
  align-items: center;
  background-color: map-get($colors, 'default');
  display: flex;
  min-height: 3.75rem;
}

.#{$prefix}-navbar-brand {
  color: map-get($colors, 'black');
  font-size: 1.6rem;
  padding: 0 1rem;
  text-decoration: none;
}

.#{$prefix}-navbar-item {
  color: map-get($colors, 'black');
  font-size: 1.2rem;
  padding: 0 .5rem;
  text-decoration: none;
}
