.#{$prefix}-navbar {
  background-color: #EFEFEF;
  min-height: 3.75rem;
  display: flex;
  align-items: center;
}

.#{$prefix}-navbar-brand {
  text-decoration: none;
  color: map-get($colors, 'black');
  font-size: 1.6rem;
  padding: 0 1rem;
}

.#{$prefix}-navbar-item {
  text-decoration: none;
  color: map-get($colors, 'black');
  font-size: 1.2rem;
  padding: 0 0.5rem;
}
