$tooltip-color: hsla(0, 0%, 0%, .91);

.#{$prefix}-tooltip {
  background-color: $tooltip-color;
  color: map-get($colors, 'white');
  padding: .8rem;
  position: absolute;
  @for $index from 1 through length($directions) {
    $direct: nth($directions, $index);

    > .#{$prefix}-tooltip-arrow-#{$direct} {
      $init-border-color: transparent transparent transparent transparent;
      $border-color: set-nth($init-border-color, $index, $tooltip-color);

      border-color: $border-color;
      border-style: solid;
      border-width: .5rem;
      position: absolute;

      @if ($direct == bottom) {
        left: calc(50% - .5rem);
        top: 100%;
      } @else if ($direct == left) {
        left: calc(0% - 1rem);
      } @else if ($direct == top) {
        left: calc(50% - .5rem);
        top: calc(0% - 1rem);
      } @else {
        left: 100%;
      }
    }
  }
}
